<li class="list-group-item"> 
    <h4 class="nom"><a (click) = "selectApp(index)">Appareil :{{appareilName}}</a> statut : {{getstatus()}}</h4>
    <input type="text" class="form-control" [(ngModel)]="appareilName"><br>
    <div *ngIf = "[Statut()]=='Allumé'">
    <button class="btn btn-success" (click)="Eteindre()">{{getstatus()}}</button>
    </div>
    <div *ngIf = "[Statut()]=='Eteint'">
        <button class="btn btn-danger" (click)="Allumer()">{{getstatus()}}</button>
    </div>
</li>
