<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Mes appareils</h2>
           <ul class="list-group">
                <app-appareil *ngFor="let app of appareils; let i = index "
                [indexOfAppareil]="i"
                [index]=i
                [appareilName] = "[app.name]" 
                [title]="app.name"
                [appareilStatues] = "app.status"> </app-appareil>
          </ul>
        </div>
        <button class="btn btn-success" 
        [disabled]="!isAuth"
        (click)="Allumer()">Tous allumer</button>
        <button class = "btn btn-danger" (click)="Eteindre()"> Tous éteindre</button>
        <button class = "btn btn-success" (click)="save()"> Save on DataBase</button>
        <button class = "btn btn-success" (click)="get()"> Get on DataBase</button>
    </div>
  </div>