<nav>
  <div class="nav-wrapper teal">
    <a routerLink='edit' class="btn btn-primary stretched-link">Nouvelle Appareil</a>
  </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
  </div>
